body {
	font-family: 'Mad Museo', sans-serif;
	background-color: #121212;
	color: #fff;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 1250px) {
	body {
		height: 100vh;
	}
}

.gradient-bursts-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

.gradient-burst {
	position: absolute;
}

.gradient-burst-1 {
	background: radial-gradient(circle at 50% 50%, #3c3c3c 0, rgba(0, 96, 77, 0) 70%);
	width: 400px;
	height: 400px;
	top: -150px;
	left: -150px;
}

.gradient-burst-2 {
	background: radial-gradient(circle at 50% 50%, #393121 0, rgba(0, 96, 77, 0) 70%);
	width: 700px;
	height: 700px;
	top: -50px;
	right: -350px;
}

.gradient-burst-3 {
	background: radial-gradient(circle at 50% 50%, #00604d 0, rgba(0, 96, 77, 0) 70%);
	width: 800px;
	height: 800px;
	top: 300px;
	left: -500px;
}

@media screen and (min-width: 1250px) {
	.gradient-burst-1 {
		width: 600px;
		height: 600px;
		top: 100px;
		left: -300px;
	}

	.gradient-burst-2 {
		width: 900px;
		height: 900px;
		top: -400px;
		left: 50%;
		transform: translateX(-50%);
	}

	.gradient-burst-3 {
		width: 800px;
		height: 800px;
		top: 600px;
		left: auto;
		right: -400px;
	}
}

.container {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	z-index: 1;
	position: relative;
	overflow: hidden;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 768px) {
	.content {
		padding-top: 60px;
		max-width: 640px;
	}
}

@media screen and (min-width: 1250px) {
	.content {
		padding-top: 150px;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 40px;
		max-width: 85%;
		flex-direction: row;
		justify-content: space-between;
	}
}

@media screen and (min-width: 1440px) {
	.content {
		padding-top: 120px;
	}
}

@media screen and (min-width: 1650px) {
	.content {
		padding-top: 140px;
	}

}

.left-section {
	opacity: 0;
	animation: fadeIn 2s forwards;
}

@media screen and (min-width: 1250px) {
	.left-section {
		max-width: 550px;
	}
}

@media screen and (min-width: 1440px) {
	.left-section {
		max-width: 650px;
	}
}

@media screen and (min-width: 1650px) {
	.left-section {
		max-width: 750px;
	}
}

h1 {
	font-size: 2.4em;
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 3em;
	}
}

@media screen and (min-width: 1650px) {
	h1 {
		font-size: 3.5em;
	}
}

@media screen and (min-width: 1920px) {
	h1 {
		font-size: 5em;
	}
}

p {
	font-size: 1em;
	line-height: 1.5;
}

@media screen and (min-width: 768px) {
	p {
		font-size: 1.2em;
	}
}

@media screen and (min-width: 1440px) {
	p {
		font-size: 1.2em;
	}
}

@media screen and (min-width: 1920px) {
	p {
		font-size: 1.3em;
	}
}

a {
	transition: opacity 0.3s;
}

a:hover {
	opacity: 0.6;
}

.learn-more {
	color: #1BFCA1;
	text-decoration: none;
}

.download-row {
	margin-top: 30px;
	margin-bottom: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media screen and (max-width: 600px) {
	.download-row {
		flex-direction: row;
	}
}

@media screen and (min-width: 768px) {
	.download-row {
		margin-top: 58px;
		margin-bottom: 30px;
		justify-content: start;
		gap: 20px;
	}
}

.download-buttons {
	width: 100%;
}

@media screen and (min-width: 400px) {
	.download-buttons {
		width: 50%;
	}
}

@media (min-width: 768px) {
	.download-buttons {
		width: 230px;
		margin-left: 0;
	}
}

.download-buttons img {
	display: block;
	margin-bottom: 27px;
	max-width: 150px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 400px) {
	.download-buttons img {
		margin-left: 0;
	}

}

@media screen and (min-width: 768px) {
	.download-buttons img {
		max-width: 230px;
	}
}

.qr-code-section {
	text-align: center;
}

@media screen and (min-width: 400px) {
	.qr-code-section {
		width: 50%;
	}
}

.qr-code-section .qr-code {
	max-width: 150px;
}

@media screen and (min-width: 400px) {
	.qr-code-section .qr-code {
		text-align: right;
	}

}

@media screen and (min-width: 768px) {
	.qr-code-section .qr-code {
		max-width: 230px;
	}
}

@media screen and (min-width: 1250px) {
	.qr-code-section .qr-code {
		text-align: left;
	}
}

.scan-to-download {
	margin-top: 10px;
	font-size: 1em;
}

@media screen and (min-width: 768px) {
	.scan-to-download {
		font-size: 1.2em;
	}
}

.social-icons {
	text-align: center;
}

.social-icons img {
	width: 44px;
	margin-right: 10px;
}

@media screen and (min-width: 768px) {
	.social-icons img {
		margin-right: 50px;
		width: 64px;
	}
}

@media screen and (min-width: 1250px) {
	.social-icons {
		text-align: left;
	}
}

.right-section {
	text-align: center;
	width: 100%;
}

.right-section p {
	margin-top: 10px;
	font-size: 1.2em;
}

.phone-with-hand-container {
	width: 100%;
	height: 500px;
	position: relative;
	z-index: 0;
}

.phone-with-hand {
	max-width: 400px;
	transform: translateX(50%);
	animation: slideIn 1s 0.5s forwards;
	opacity: 0;
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
}

@media screen and (min-width: 768px) {
	.phone-with-hand {
		max-width: 500px;
	}
}

@media screen and (min-width: 1250px) {
	.phone-with-hand-container {
		position: absolute;
		top: 170px;
		right: 0;
		min-height: 75%;
		overflow: hidden;
	}

	.phone-with-hand {
		width: 45%;
		max-width: 810px;
	}
}

@media screen and (min-width: 1650px) {
	.phone-with-hand-container {
		top: 160px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateX(50%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}